<h2 class="text-center">Welcome!</h2>
<div class="container" style="padding-top:150px;">

    <div class="row">
        
        <div class="col-md-3 col-lg-offset-3">
            <div class="container">
                <h5 class="text-center" >Register as an administrator</h5>
                <a href="/Home/Register" class="btn btn-primary btn-lg btn-block">Register</a>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="container">
                <h5 class="text-center thick">Event administrator Login</h5>

                <a href="/Home/Login" class="btn btn-primary btn-lg btn-block">Login</a>
            </div>
        </div>
    </div>
</div>