<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MoneyManager.data.Properties.Settings.MoneyManagerConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=MoneyManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>